body{
	zoom:0.9;
}
body,div{
	margin: 0;
	padding: 0;
}
input,button{
	outline: none;
	box-sizing: border-box;
}
.app-all-wrapper{
	margin:10px auto;
	width:490px;
	border:1px solid #bfbfbf;
	border-radius: 8px;
	padding: 10px;
	padding-top: 50px;
}

.list-all-wrapper,.dustbin-all-wrapper{
	margin: 0 auto;
	margin-bottom: 10px;
	width: 400px;
	padding: 5px;
	border: 1px solid #112faf;
	border-radius: 8px;
}
.dustbin-all-wrapper{
	margin-top: 10px;
	border: 1px solid #234932;
}
.input-all-wrapper{
	margin: 0px auto;
	width: 400px;
	padding: 5px;
	border:1px solid #aaa;
	border-radius: 8px;
	overflow: hidden;
}

.button-send{
	width: 90px;
	height: 40px;
	line-height: 20px;
	vertical-align: middle;
	border: none;
	border-radius:5px;
	background: #CAEDCA;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}
.button-send:hover{
	background: #536B57;
	color:white;
}
.button-clear{
	width: 90px;
	height: 40px;
	line-height: 20px;
	vertical-align: middle;
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 5px;
	border: none;
	float: right;
}
.button-clear:hover{
	background: #fcefac;
	color: #fff;
}
.button-search{
	width: 90px;
	height: 40px;
	margin-top: 5px;
	margin-left: 5px;
	line-height: 20px;
	border-radius: 8px;
	border: none;
	background: #A3B0C2;
}
.button-search:hover{
	background: #9BfeB0;
}
.input-input,.input-search{
	width: 260px;
	height: 40px;
	border: none;
	background: #bfbfbf;
	border-radius: 8px;
	line-height: 20px;
	vertical-align: middle;
	text-indent: 2em;
	margin-bottom: 5px;
}
.input-search{
	width: 200px;
	margin-top: 5px;
}
.input-input:focus{
	width: 290px;
	transition:all 1s ease;
}
.list-content-wrapper,.dustbin-content-wrapper{
	height: 40px;
	position: relative;
	margin-bottom:8px;
	animation:listadd 1s;
}
@keyframes listadd{
	0%{
		height: 20px;
		opacity: 0;
	}
	100%{
		height: 40px;
		opacity: 1;
	}
}
.list-content,.dustbin-content{
	width: 380px;
	height: 100%;
	color: #fff;
	background: #b3f16f;
	border-radius: 8px;
	line-height: 40px;
	text-indent: 2em;
	vertical-align: middle;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding-right: 20px;
}
.dustbin-content{
	color: #bfbfbf;
	background: #2f123f;
	text-decoration: line-through;
	opacity: 0.6;
}
.list-delete,.dustbin-restore{
	display: block;
	opacity: 0;
	position:absolute;	
	top: 50%;
	margin-top: -10px;
	right: 5px;
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	font-family: 微软雅黑;
	font-size: 12px;
	cursor: pointer;
	background: #f1112f1;
	border-radius: 5px;
}
.dustbin-restore{
	background:#f3252f;
}
.dustbin-content-wrapper:hover .dustbin-restore{
	opacity: 0.8;
	width: 50px;
	background: #7f3e3f;
	color:#fff;
	transition:all 1s ease;
}
.list-content-wrapper:hover .list-delete{
	opacity: 0.8;
	width: 50px;
	background: #f32322;
	color:#fff;
	transition:all ease 0.5s;
}

.suspension{
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 30px;
	line-height: 30px;
	background: #126E71;
	color: #fff;
	text-align: center;
	font-family:Tahoma;
	font-size: 12px;
	border-radius: 8px;
	animation:kakushi 2s;
}
@keyframes kakushi{
	0%{
		opacity: 0;
		height: 20px;
	}	
	50% {
		opacity: 1;
		height: 30px;
	}
	100%{
		opacity: 0;
		height: 0;
	}

}


